* {
    font-family: Courier New, Courier, monospace;
}
img{
    width: 100px;
    text-align: center;
    margin-bottom: 10px;
}
body{
    margin:0px auto 0px;
    padding:3px;
    font-size:12px;
    color:#333;
    width:95%;
    background-position:top;
    background-color:#fff;
}

h1, h2, h4{
    margin: 0px;
}

.judul{
    text-align: center;
}

.garis {
 border-top: 5px double #000;
}

table{
    display: inline-block;
}

.tabel2{
    margin-left: 50px;
}

.isi{
    width: 100%;
}